{% extends "layout.html" %} {% block body %}

<div class="container fill vertical-center dbox_p">
    <div class="col-xs-10 col-xs-offset-1 text-center container dbox_b">
        <h1 class="cover-heading">삼일오피스텔<br/>전기요금<br/>계산 시스템</h1>
        <p class="top-margin-lg margin-lg">
            <a class="btn btn-lg btn-primary" href="/login" role="button">관리자</a>
            <a class="btn btn-lg btn-primary" href="/view" role="button">조회용</a>
        </p>
    </div>
</div>
{% endblock %} {% block script %} {% endblock %}