.dbox_b {
    border: dashed 1px blue;
}

.dbox_y {
    border: dashed 1px yellow;
}

.dbox_g {
    border: dashed 1px green;
}

.dbox_r {
    border: dashed 1px red;
}

.dbox_p {
    border: dashed 1px purple;
}

